@model Stori.ObjectModel.Post
@{
    var duration = DateTime.Now - Model.CreateDate;
    var postTime = duration.TotalDays < 1 ? "1 day ago" :
                     duration.TotalDays < 7 ? (int)Math.Round(duration.TotalDays) + " days ago" :   // TODO: Does 25 hours ago count as 1 day ago or 2 days ago? Or should it just be done by calendar dates not hours?
                     Model.CreateDate.ToString("MM/dd/yy");
}

<div class="card">
    <div class="car_header">
        <div class="icon"></div>
        @if (!string.Equals(ViewData["CurrentUser"].ToString(), Model.Author.UserName, StringComparison.OrdinalIgnoreCase))
        {
        <div class="follow button">Follow</div>
        }
        <div class="author">@Model.Author.UserName</div>
        <div class="time">@postTime</div>
    </div>
    <div class="car_content">
        <div class="text">@Model.Text</div>
        <div class="carousel">
            @if (Model.CaptionedImages != null)
            {
                @foreach(var captionedImage in Model.CaptionedImages)
                {
                    <div class="image"><img src="/Images/@captionedImage._id" /></div>
                    <!--
                    <div class="image"></div>
                    <div class="image"></div>
                    <div class="image"></div>
                    -->
                }
            }
        </div>
    </div>
</div>