@page
@model Stori.Views.Shared.CarouselModel

<div class="card">
    <div class="car_header">
        <div class="icon"></div>
        <div class="follow button">Follow</div>
        <div class="author">Nulla ultricies viverra</div>
        <div class="time">1 day ago</div>
    </div>
    <div class="car_content">
        <div class="text">Nam mattis nec quam et dictum. Etiam eu euismod nunc. Nunc pretium commodo ipsum ac rutrum.</div>
        <div class="carousel">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>
</div>