@model Stori.ObjectModel.Post
@{
    var duration = DateTime.Now - Model.CreateDate;
    var postTime = duration.TotalDays < 1 ? "1 day ago" :
                     duration.TotalDays < 7 ? duration.TotalDays + " days ago" :
                     Model.CreateDate.ToString("MM/dd/yy");
}

<div class="card">
    <div class="car_header">
        <div class="icon"></div>
        <div class="follow button">Follow</div>
        <div class="author">@Model.Author.UserName</div>
        <div class="time">@postTime</div>
    </div>
    <div class="car_content">
        <div class="text">@Model.Text</div>
        <div class="carousel">
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
            <div class="image"></div>
        </div>
    </div>
</div>