@page
@model Stori.Pages.NewUserModel
@{
    ViewData["Title"] = "New";
}

<link rel="stylesheet" href="~/css/new.css" />

<div id="login">
    <div class="title">Sign In</div>

    <form method="post">
        <input id="usernameInput" type="text" name="username" placeholder="User name" /> <br />
        <input id="passwordInput" type="text" name="password" placeholder="Password" /> <br />
        <input type="submit" value="Sign in" class="button title">
    </form>
</div>
