@page
@model Stori.Pages.NewUserModel
@{
    ViewData["Title"] = "New";
}

<h2>New</h2>

<form method="post">
    <div>Username</div><input id="usernameInput" type="text" name="username" /> <br />
    <input type="submit" value="Submit">
</form>

