@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>Stori with Bing Visual Search</h3>

<p>Stori is a new way to explore the world around you using Bing Visual Search to connect with user-created content</p>
