@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>

<div id="index_icon" class="icon"></div>
<div id="index_title">Stori</div>
<div id="index_actions">
    <a class="button" href="/User/New">Sign Up</a>
    <a class="button" href="/Camera">Camera</a>
    <a class="button" href="/Search">Search</a>
    <a class="button" href="/User/View/testaccount">View my Stories</a>
    <a class="button" href="/Post/new">New Storie</a>
</div>