@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/index.js"></script>

<div class="output">
    <img id="photo" alt="The screen capture will appear in this box.">
</div>
<div id="shutter"></div> 
<div class="camera">
    <video id="video" webkit-playsinline="true" playsinline="true" autoplay="">Video stream not available.</video>
</div>
<canvas id="canvas">
</canvas>
