@page "new"
@model Stori.Pages.PostModel
@{
    ViewData["Title"] = "Post";
}

<h2>New Storie</h2>

<form asp-page-handler="Add" method="post" enctype="multipart/form-data">
    <div>Title: </div><input id="title" class="card" type="text" name="title" /> <br />
    <div>Text: </div><input id="postText" class="card" type="text" name="postText" /> <br />
    <label for="file">Filename:</label>
    <input type="file" name="file" id="file" />
    <input type="submit" value="Submit">
</form>