@page
@model SearchModel
@using Stori.ObjectModel
@{
    ViewData["Title"] = "Search";
    ViewData["CurrentUser"] = "fake";

    string query = HttpContext.Request.Query["q"];
}

<link rel="stylesheet" href="~/css/search.css" />
<link rel="stylesheet" href="~/css/carousel.css" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/search.js"></script>

<div id="searchbox" class="card">
    <input type="text" placeholder="Search for posts" value="@(!string.IsNullOrEmpty(query) ? query : "")">
    <div class="icon"></div>
</div>
<div id="entity" class="card">
    <div class="ent_title">Bing</div>
    <div class="ent_content">
        Nutella is a brand of sweetened hazelnut cocoa spread manufactured by the Italian company Ferrero that was first introduced in 1965, although its first iteration dates to 1963.
    </div>
</div>

<div id="results">
    @foreach (Stori.ObjectModel.Post result in Model.Results)
    {
        @Html.Partial("Carousel", result)
    }
</div>