.car_header {
    margin-bottom: 10px;
}

.car_header div {
    color: #666;
}

.car_header .icon {
    float: left;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 4px;
}

.car_header .button {
    float: right;
    color: #fff;
    margin: 0px;
    padding: 10px 20px;
    background: #7F7FD5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.carousel {
    margin: 10px -20px 0 -20px;
    line-height: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.carousel_inner {
    margin-left: 20px;
    white-space: nowrap;
}

::-webkit-scrollbar {
    display: none;
}

.car_content .text {
    padding-top: 10px;
}

.car_content .image {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 120px;
    margin-right: 6px;
    border-radius: 4px;
    overflow: hidden;
}

.car_content .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    transform: translateX(-50%) translateY(-50%);
}

.car_content .image.horiz img {
    height: 120%;
    width: auto;
}