#index_icon,
#index_title {
    position: relative;
    top: 35%;
    margin: 0px auto;
}

#index_icon {
    height: 40px;
    width: 40px;
    background-color: white;
    opacity: 0.8;
    margin-bottom: 16px;
}
#index_title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 30px;
    text-indent: 30px;
}

#index_actions {
    position: absolute;
    bottom: 35px;
    left: 0px;
    right: 0px;
}

.content {
    height: 100%;
    width: 100%;
    text-align: center;
    background: -moz-linear-gradient(76deg, rgba(193,114,224,1) 0%, rgba(121,140,219,1) 19%, rgba(112,181,196,1) 41%, rgba(153,255,241,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(153,255,241,1)), color-stop(59%, rgba(112,181,196,1)), color-stop(81%, rgba(121,140,219,1)), color-stop(100%, rgba(193,114,224,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(76deg, rgba(193,114,224,1) 0%, rgba(121,140,219,1) 19%, rgba(112,181,196,1) 41%, rgba(153,255,241,1) 100%); /* safari5.1+,chrome10+ */
    background: linear-gradient(14deg, rgba(193,114,224,1) 0%, rgba(121,140,219,1) 19%, rgba(112,181,196,1) 41%, rgba(153,255,241,1) 100%); /* w3c */
}

.button {
    display: block;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px auto;
}