#banner {
    height: 200px;
    overflow: hidden;
}

#banner img {
    transform: translateY(-25%);
}

#user_info,
#user_content {
    position: relative;
    top: -65px;
}

#user_info .icon {
    border-radius: 4px;
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 10px;
    margin-top: -24px;
}

#user_info .name {
    color: #444;
    font-weight: 600;
    font-size: 16px;
}

#user_info .occupation,
#user_info .description {
    font-size: 12px;
}