#searchbox {
    width: calc(100% - 20px);
}

.content {
    background: #7F7FD5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.ent_title {
    padding-bottom: 10px;
    text-transform: uppercase;
}
.ent_title:before {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    margin-bottom: -4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    content: "";
}